---
layout: default
---

{%
  include structuredData.html
  title = page.title
  author = page.author
  isbn = page.isbn
  pub_date = page.pub_date
  usd_price = page.usd_price
  gbp_price = page.gbp_price
  url = page.url
%}

<header class="portfolio-page">
  {% assign todays_date = "now" | date: "%Y%m%d" %}
  {% if page.pub_date_iso > todays_date %}
    <h1 class="secondary">• Coming soon •</h1>
  {% else %}
    <h1 class="secondary">• Recently published •</h1>
  {% endif %}
</header>

<container class="portfolio-page">
  <figure>
    <img class="cover--large" src="/images/covers/{{page.isbn}}.jpg" alt="Cover of ISBN {{page.isbn}} {{page.title}}"/>
  </figure>
  <section>
    <p class="metadata">
      {{page.series}}
      {{page.series_number}}
    </aside>
    <h1>{{page.title}}</h1>
    <p>{{page.subtitle}}</p>
    <h2>{{page.author}}</h2>
    <p>{{page.blurb}}</p>
    {% if page.reviews.size > 0 %}
      <hr/>
      <p><span class="massive">“</span>{{page.reviews}}</p>
    {% endif %}

    <ul class="metadata">
      <li>
        <span>ISBN</span>
        {{page.isbn}}
      </li>
      {% if page.pub_date.size > 0 %}
        <li>
          <span>Published</span>
          {{page.pub_date | date: "%d %b %Y"}}
        </li>
      {% endif %}
      {% if page.gbp_price%}
        <li>
          <span>Price</span>
          ${{ page.usd_price }} / £{{ page.gbp_price }}
        </li>
      {% endif %}
      {% if page.page_count.size > 0 %}
        <li>
          <span>Pages</span>
          {{page.page_count}}
        </li>
      {% endif %}
      {% if page.format.size > 0 %}
      <li>
        <span>Format</span>
        {{ page.format }}
      </li>
      {% endif %}
    </ul>
    <p class="metadata">{{page.subject}}</p>

    <h3>Buy {{page.title}}</h3>
    <ul class="shops">
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.wordery_url          }}">Wordery        </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.waterstones_url      }}">Waterstones    </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.foyles_url           }}">Foyles         </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.book_depository_url  }}">Book Depository</a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.wh_smith_url         }}">WHSmith        </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.blackwells_url       }}">Blackwells     </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.oxfam_url            }}">Oxfam          </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.amz_uk_url           }}">Amazon UK      </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.amz_us_url           }}">Amazon US      </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.amz_ca_url           }}">Amazon CA      </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.amz_de_url           }}">Amazon DE      </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.amz_br_url           }}">Amazon BR      </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.amz_mx_url           }}">Amazon MX      </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.amz_fr_url           }}">Amazon FR      </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.amz_es_url           }}">Amazon ES      </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.amz_jp_url           }}">Amazon JP      </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.amz_in_url           }}">Amazon IN      </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.kobo_url             }}">Kobo           </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.infini-beam_url      }}">Infinibeam     </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.google_play_url      }}">Google Play    </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.hive_url             }}">Hive           </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.booktopia_url        }}">Booktopia      </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.barnes_and_noble_url }}">Barnes & Noble </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.worldcat_url         }}">Worldcat       </a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.books_a_million_url  }}">Books A Million</a></li>
      <li><a class="bookstore" rel="noreferrer" target="_blank" href="{{ page.book_finder_url      }}">Book Finder    </a></li>
    </ul>
  </div>
</container>
