---
layout: default
---

{%
  include structuredData.html
  title = page.title
  author = page.author
  isbn = page.isbn
  pub_date = page.pub_date
  usd_price = page.usd_price
  gbp_price = page.gbp_price
  url = page.url
%}
<div class="header__background--book-page">
  <h1>• Coming soon •</h1>
</div>
<section class="container__book-page">
  <div class="sidebar">
    <img class="cover--large" src="{{page.image_path}}" > 
  </div>     
  <div class="content">
    <h1 class="book-page">{{page.title}}</h1>
    <h2>{{page.author}}</h2>
    <p>{{page.blurb}}</p>
    {% if page.reviews %}
      <h3>Reviews</h3>
      <p>{{page.reviews}}</p>
    {% endif %}
    <p> 
      Published {{page.pub_date | date: "%b %d, %Y"}} • {{page.page_count}} pages • {{page.measurements}}mm • 
      ISBNs: {{page.isbn}} • {{ page.isbns | split: " " | join: " • " }}
    </p>
    <h4>Buy {{page.title}}</h4>
    <ul class="bookstores-grid">
      <li><a class="bookstore" target="_blank" href="{{ page.wordery_url          }}">Wordery        </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.waterstones_url      }}">Waterstones    </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.foyles_url           }}">Foyles         </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.book_depository_url  }}">Book Depository</a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.wh_smith_url         }}">WHSmith        </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.blackwells_url       }}">Blackwells     </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.oxfam_url            }}">Oxfam          </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.amz_uk_url           }}">Amazon UK      </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.amz_us_url           }}">Amazon US      </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.amz_ca_url           }}">Amazon CA      </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.amz_de_url           }}">Amazon DE      </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.amz_br_url           }}">Amazon BR      </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.amz_mx_url           }}">Amazon MX      </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.amz_fr_url           }}">Amazon FR      </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.amz_es_url           }}">Amazon ES      </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.amz_jp_url           }}">Amazon JP      </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.amz_in_url           }}">Amazon IN      </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.kobo_url             }}">Kobo           </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.infini-beam_url      }}">Infinibeam     </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.google_play_url      }}">Google Play    </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.hive_url             }}">Hive           </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.booktopia_url        }}">Booktopia      </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.barnes_and_noble_url }}">Barnes & Noble </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.worldcat_url         }}">Worldcat       </a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.books_a_million_url  }}">Books A Million</a></li>
      <li><a class="bookstore" target="_blank" href="{{ page.book_finder_url      }}">Book Finder    </a></li>
    </ul>
  </div>
</section>
